In [1]:
import numpy as np
import pandas as pd

dict1 = {
    "name":['Andya','Doe','john'],
    "age":[26,27,28],
    "city":['pune','pune','mumbai'],
}

df = pd.DataFrame(dict1)

df

    name  age    city
0  Andya   26    pune
1    Doe   27    pune
2   john   28  mumbai

In [2]:
import pandas as pd

df = pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
import pandas as pd

i = [10,20,30,40,50,60]

df = pd.DataFrame(i)

print(df)

    0
0  10
1  20
2  30
3  40
4  50
5  60

In [4]:
import pandas as pd

i = ["item1","item2","item3","item4"]

df = pd.DataFrame(i)

print(df)

       0
0  item1
1  item2
2  item3
3  item4

In [5]:
import numpy as np
import pandas as pd

i = ["item1","item2","item3","item4",10,20,30]

df = pd.DataFrame(i)

print(df)

       0
0  item1
1  item2
2  item3
3  item4
4     10
5     20
6     30

In [6]:
import pandas as pd

i = {'no':[1,2,3],'name':['john','andy','sandra']}

df = pd.DataFrame(i)

print(df)

   no    name
0   1    john
1   2    andy
2   3  sandra

In [7]:
import pandas as pd

j = {'no':[1,2,3],
     'name':['john','andy','sandra'],
     'city':['pune','mumbai','pune']
    }

df = pd.DataFrame(j)

print(df)

   no    name    city
0   1    john    pune
1   2    andy  mumbai
2   3  sandra    pune

In [8]:
import pandas as pd

i = {'no' : pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])}

df = pd.DataFrame(i)

print(df)

   no
a   1
b   2
c   3
d   4
e   5

In [9]:
import pandas as pd

i = {'no': pd.Series([1,2,3],index=['a','b','c']),
    'no1' : pd.Series([6,7,8],index=['a1','b1','c1'])}

d1 = pd.DataFrame(i)

print(d1)

     no  no1
a   1.0  NaN
a1  NaN  6.0
b   2.0  NaN
b1  NaN  7.0
c   3.0  NaN
c1  NaN  8.0

In [10]:
import pandas as pd

i = pd.DataFrame({
    "x":[15,25,32,47],
    "y":[47,89,90,66]
})

j = pd.DataFrame({
    "x":[234,89,90],
    "y":[45,78,56]
})

i.append(j,)

     x   y
0   15  47
1   25  89
2   32  90
3   47  66
0  234  45
1   89  78
2   90  56

In [11]:
import pandas as pd

i = pd.DataFrame({
    "x":[15,56,89,90],
    "y":[34,56,78,12]
})

j = pd.DataFrame({
    "x":[234,678,903],
    "y":[456,234,789]
})

i.append(j, ignore_index = True)

     x    y
0   15   34
1   56   56
2   89   78
3   90   12
4  234  456
5  678  234
6  903  789

In [12]:
import pandas as pd
import numpy as np

i = ({"person":['john','doe','smith','andy'],
    "age":[30,39,np.nan,33]
})
df = pd.DataFrame(i)

df.count()

person    4
age       3
dtype: int64

In [13]:
import pandas as pd
import numpy as np

i = pd.DataFrame({
    "person":["john","doe","smith","andy"],
    "age":[30,39,np.nan,33]
})

i.count()
i.count(axis='columns')

0    2
1    2
2    1
3    2
dtype: int64

In [14]:
import pandas as pd
import numpy as np

i = pd.DataFrame({
    "person":["jhon","doe","smith","andy"],
    "age":[30,39,np.nan,33],
    "city":[np.nan,'pune',np.nan,'pune']
})

i.count()
i.count(axis='columns')

0    2
1    3
2    1
3    3
dtype: int64

In [19]:
import pandas as pd 

i = pd.DataFrame({
    "x":[15,25,32,49],
    "y":[45,67,89,34]
})

j = pd.DataFrame({
    "x":[12,34,56],
    "y":[345,123,567]
})

i.append(j,ignore_index = True)

    x    y
0  15   45
1  25   67
2  32   89
3  49   34
4  12  345
5  34  123
6  56  567

In [20]:
import pandas as pd 

i = pd.DataFrame({
    'name':['john','smith','andy','smith'],
    'age':[18,22,30,25],
    'marks':[89,34,56,90],
    'grade':['a','a','b','c']
})

file1 = pd.ExcelWriter('dataofuser.xlsx')

i.to_excel(file1)

file1.save()

print('Excel file Generated.')

Excel file Generated.